.nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: indigo;
  box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12), 0 14px 20px rgba(0, 0, 0, 0.24);
  padding: 20px 5vw;
  
  h1 {
    font-size: 2.5em;
    color: cornflowerblue;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
  }

  ul a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75em;
  }
}