.notif {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 130px;
  right: 2.5%;
  height: 60px;
  z-index: 999;
  background-color: rgba(0, 140, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.75s ease-in-out;

  p {
    color: #fff;
    text-align: center;
    font-size: 1.45em;
    margin: auto;
    letter-spacing: 0.08em;
    width: 360px;
    overflow-x: hidden;
    font-family: cursive;
  }

  progress {
    height: 8px;
    width: 100%;
    appearance: none;
    border: none;
    opacity: 0;
    -webkit-animation: progressBar 5s infinite;
  }

  progress::-webkit-progress-bar {
    background-color: rgba(0, 140, 255, 1);
  }

  progress::-webkit-progress-value {
    background-color: rgba(73, 228, 255, 1);
  }

  progress::-moz-progress-bar {
    background-color: rgba(73, 228, 255, 1);
  }

  @-webkit-keyframes progressBar {
    0% {
      opacity: 0;
      width: 100%;
    }

    50% {
      opacity: 1;
    }

    100% {
      width: 0%;
    }
  }
}

