.notif {
  position: fixed;
  top: 25%;
  right: 2.5%;
  z-index: 999;

  font-size: 1.25em;
  letter-spacing: 0.08em;
  color: #fff;
  background-color: blue;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  overflow: hidden;
}

.notif_hidden {
    padding: 0;
    height: 0;
}
