.addPostForm {
  width: 70%;
  margin: 5px 20px;

  form {
    flex: 1;
  }

  label {
    flex: 0.4;
  }

  input,
  textarea {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding: 7.5px 10px;
    border: none;
    flex: 0.6;
  }

  textarea {
    height: 150px;
    border-radius: 10px;
    resize: none;
  }

  fieldset {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex: 1;

    border: none;
    margin-bottom: 20px;
  }
}
