.userOrders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin: 50px auto;
  width: 100%;
  max-width: 1450px;
  font-size: 1em;

  h2 {
    font-size: 26px;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 26px;
  }

  section,
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  div {
    justify-content: space-between;
    width: 100%;
  }

  article > div:first-child {
    margin-bottom: 20px;
  }

  section {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    background-color: #ffffff;
    max-width: 410px;
    min-width: 300px;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in;
  }

  article:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  }

  article aside {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in;
    width: 100%;
  }

  article aside div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    width: 100%;
  }

  article aside div:last-child {
    border-bottom: none;
  }

  article aside div * {
    flex: 1;
    text-align: center;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6874;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
  }

  h4 {
    font-size: 1.75em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #404040;
    color: #fff;
    letter-spacing: 0.05em;
    cursor: pointer;
  }

  strong {
    text-transform: uppercase;
  }
}
