.cartLineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  margin: 5px 20px;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
  text-decoration: none;
  color: #111;
  position: relative;

  font-size: 2em;

  div,
  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 20px;
  }

  p {
    user-select: none;
    justify-content: center;
    flex: 0.05;
  }

  img {
    max-height: 80px;
    width: auto;
  }

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: black;
    transition: color 0.25s;
  }

  svg:hover {
    color: #666;
  }

  .move_quantity {
    flex: 1;
  }

  .move_quantity p {
    flex: 1;
  }
}
