.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: auto;

  font-size: 1.75em;

  article {
    display: flex;
    flex-direction: column;
  }

  section {
    display: flex;
    gap: 20px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
    background-color: green;

    border: none;
    outline: none;
    border-radius: 1ex;
    height: 50px;

    font-size: 1.15em;
    text-decoration: none;
    color: #fff;

    cursor: pointer;
    filter: brightness(1);
    transition: filter 0.25s;
  }

  button:hover {
    filter: brightness(1.1);
  }

  button:active {
    box-shadow: inset rgba(0, 0, 0, 0.16) 0px 2px 4px;
  }
}
