* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  background: #6868682f;
}

::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  background-color: #000000;
}

:focus-visible {
  outline: 0;
}

/** DOM */
html {
  background-color: rgb(245, 247, 250);
  font-size: 62.5%;
  color: #333;

  body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
