.logout {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 1450px;
    margin: 50px auto 20px auto;
  
    div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    h2 {
      font-size: 26px;
    }
  
    h3 {
      font-size: 20px;
    }
  }
  