.home {

  button {
    font-size: 3em;
    padding: 30px;
  }

  p {
    font-size: 4em;
    font-weight: 400;
  }

  div {
    margin: auto;
  }

  input {
    padding: 30px 50px;
    font-size: 2em;
  }

}