.home {

  h2 {
    margin: 20px;
    color: #333;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  div {

    background-color: rgb(94, 1, 1);
    padding: 30px;
  }
}
